<h2 class="text-center">Prise de rendez-vous</h2>
<div class="row col-8 offset-4">
  <form class="col-6">
    <div class="mb-3">
      <label for="Praticen" class="form-label">Praticien</label>
      <input type="text" class="form-control" id="Praticen" name="Praticen" aria-describedby="Praticen">
    </div>
    <div class="mb-3">
      <label for="Date" class="form-label">Date</label>
      <input type="datetime-local" class="form-control" id="Date" name="Date">
    </div>
    <div class="mb-3">
      <label for="Adresse" class="form-label">Adresse</label>
      <input type="text" class="form-control" id="Adresse" name="Adresse">
    </div>
    <button type="submit" class="btn btn-success">Valider</button>
  </form>
</div>


