<header>
<div class="container-fluid">
  <div class="row">
      <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light col">
        <div class="container-fluid">
          <a class="navbar-brand" routerLinkActive = "active" routerLinkActiveOptions="{exact:true}" routerLink="">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLinkActive = "active" routerLink="lesPraticiens">Les praticiens</a>
              </li>
              <li *ngIf="session.length != 0" class="nav-item">
                <a class="nav-link" routerLinkActive = "active" routerLink="listeRendezVous">Mes rendez-vous</a>
              </li>
              <li *ngIf="session.length == 0"  class="nav-item">
                <a class="nav-link" routerLinkActive = "active" routerLink="inscriptionPatient">S'inscrire comme patient</a>
              </li>
              <li *ngIf="session.length == 0"  class="nav-item">
                <a class="nav-link" routerLinkActive = "active" routerLink="inscriptionPraticien">S'inscrire comme praticien</a>
              </li>
              <li *ngIf="session.length == 0" class="nav-item">
                <a class="nav-link" routerLinkActive = "active" routerLink="connexion">Se connecter</a>
              </li>
              <li *ngIf="session.length != 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" routerLink="monCompte">Mon compte</a>
              </li>
              <li *ngIf="session.length != 0" class="nav-item" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']" (click)="logout()">Se déconnecter</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

  </div>
</div>
</header>
<main>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>

  <p>©Copyright Mekhloufi Samir</p>

</footer>
