 <h2 class="text-center">Mes rendez-vous</h2>
 <div class="row col-8 offset-2">
  <table *ngFor="let rdv of rendezVous" class="table">
    <thead>
      <tr>
        <th scope="col">Praticien</th>
        <th scope="col">Date</th>
        <th scope="col">Adresse</th>
        <th scope="col">Annulation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{rdv.praticien}}</td>
        <td>{{rdv.date}}</td>
        <td>{{rdv.adresse}}</td>
        <td><a class="btn btn-danger">Annuler</a></td>
      </tr>
    </tbody>
  </table>
</div>
