 <h2 class="text-center">Mes rendez-vous</h2>
 <div class="row col-8 offset-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Praticien</th>
        <th scope="col">Spécialité</th>
        <th scope="col">Date</th>
        <th scope="col">Adresse</th>
        <th scope="col">Annulation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dr.Coutant</td>
        <td>Pédiatre</td>
        <td>15/02/2021 15h00</td>
        <td>22 rue des Peupliers</td>
        <td><a class="btn btn-danger">Annuler</a></td>
      </tr>
      <tr>
        <td>Dr.Bichra</td>
        <td>Généraliste</td>
        <td>15/02/2021 15h00</td>
        <td>22 rue des Peupliers</td>
        <td><a class="btn btn-danger">Annuler</a></td>
      </tr>
      <tr>
        <td>Dr.Leguais</td>
        <td>Podologue</td>
        <td>15/02/2021 15h00</td>
        <td>22 rue des Peupliers</td>
        <td><a class="btn btn-danger">Annuler</a></td>
      </tr>
    </tbody>
  </table>
</div>
